[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
sorl-thumbnail = "*"
django-jfu = {git = "https://github.com/CalPolyResDev/django-jfu"}
"django-bootstrap3" = "*"
gunicorn = "*"
"psycopg2" = "*"
django-instagram = "*"
Django = "<1.11.99,>=1.11"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.6"
