[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
sorl-thumbnail = "*"
django-jfu = {git = "https://github.com/CalPolyResDev/django-jfu"}
"django-bootstrap3" = "*"
gunicorn = "*"
"psycopg2-binary" = "<2.9.0" # psycopg<=2.9 does not work with django<3.0 https://code.djangoproject.com/ticket/32856
django-instagram = "*"
Django = "<1.11.99,>=1.11"
Pillow = "*"

[dev-packages]
black = "==18.9b0"  # Pinned to latest version as workaround for https://github.com/pypa/pipenv/issues/1760
pre-commit = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
