{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}News{% if year %} {{ year|date:"Y" }}{% endif %}{% endblock title %}

{% block content %}
{% for article in articles %}
<div class="row">
  <div class="col-sm-12">
    <h3>{{ article.headline }}</h3>
  </div>
  <div class="col-sm-9 col-md-7">
    <h6> {{ article.date }}</h6>
    <p>{{ article.description }}</p>
  </div>
  <div class="col-sm-3 col-md-5 text-center">
    {% thumbnail article.images.all.0.image '400' as xs %}
    {% thumbnail article.images.all.0.image '720' as sm %}
    <a href="{{ sm.url }}"
       data-toggle="lightbox"
       data-gallery="{{ article.headline|slugify }}-{{ article.date|slugify }}"
       data-title="{{ article.images.all.0.image.caption }}">
        <img src="{{ xs.url }}" class="img-responsive center-block" alt="{{ article.images.all.0.image.caption }}" />
    </a>
    {% endthumbnail %}
    {% for Image in article.images.all|slice:"1:" %}
    {% thumbnail Image.image '720' as sm %}
    <div data-remote="{{ sm.url }}"
         data-toggle="lightbox"
         data-gallery="{{ article.headline|slugify }}-{{ article.date|slugify }}"
         data-title="{{ Image.image.caption }}"></div>
    {% endthumbnail %}
    {% endfor %}
    {% empty %}
    No image
    {% endthumbnail %}
  </div>
</div>
<hr/>
{% endfor %}
<p>
Previous news:
{% if previous_year %}
<a href="/news/{{ previous_year|date:"Y" }}">{{ previous_year|date:"Y" }}</a>
{% elif not year %}
<a href="/news/{{ date_list.last|date:"Y" }}">{{ date_list.last|date:"Y" }}</a>
{% else %}
None
{% endif %}
</p>
{% endblock content%}
