{% extends 'base.html' %}
{% load instagram_client %}

{% block title %}News{% endblock title %}

{% block content %}
{% instagram_user_recent_media Danish_Decoration %}
{% for media in recent_media %}
    <div class="row">
        <div class="col-xs-12">
            <div class="thumbnail">
                <a href="//instagram.com/p/{{ media.shortcode }}" target="_blank">
                    <img src="{{ media.thumbnail_src }}"
                         class="img-responsive center-block img-thumbnail"
                         alt="{{ media.edge_media_to_caption.edges.0.node.text }}" />
                </a>
                <div class="caption center-block" style="max-width: 640px">
                    <p>{{ media.edge_media_to_caption.edges.0.node.text }}</p>
                </div>
            </div>
        </div>
    </div>
<hr/>
{% endfor %}
{% endblock content%}
