{% extends 'base.html' %}
{% block title %}References{% endblock %}

{% block youxview %}{% for reference in references %}{% if reference.images.all %}
$("#{{ reference.year }}").yoxview({
images: [{% for referenceImage in reference.images.all %}
{ media: { src: '{{ referenceImage.image.url }}', title: '' }},{% endfor %}
]});{% endif %}{% endfor %}{% endblock %}

{% block content %}
<h1>References</h1>
<img class="bigimg" alt="Danish Decoration - Connection to Success."  src="{{ STATIC_URL }}dd2s.jpg" />
<p>
Our Reference list is built on each our personally experience, as described under “Company”.
</p>
{% for reference in references %}
<table cellpadding="1">
  <tr>
    <td class="picture" rowspan="3">
      {% if reference.images.all %}
        <a href="" id="{{ reference.year }}">
          <img src="{{ reference.images.all.0.thumbnail.url }}" class="" alt="" />
        </a>
      {% else %}No image{% endif %}
    </td>
    <td class="shipname"><h3>{{ reference.ship }}</h3></td>
    <td class="owner"><h3>{{ reference.owner }}</h3></td>
    <td class="year"><h3>{{ reference.year }}</h3></td>
  </tr>
  <tr>
    <td>{{ reference.place }}</td>
    <td>New Building</td>
  </tr>
  <tr>
    <td class="details"><h4>Project Management:</h4>
      Henrik Graahede
      <h4>Assistant Project Management:</h4>
      Tina Kjeldgaard
    </td>
    <td class="details" colspan="2">
      <p>{{ reference.description }}</p>
    </td>
  </tr>
</table>
<hr/>
{% endfor %}
{% endblock %}
