{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}References{% endblock title%}

{% block content %}
<p>
  The company, founded in 2008, is comparatively young, but the people
  have more than 25 years of experience within the industry. We have
  worked on prominent project before and after the founding of this
  company.
</p>

{% for list in references %}
<div class="page-header">
    <h2>{% cycle "Ongoing Projects" "References" %}</h2>
</div>
{% for project in list %}
<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-xs-9 col-sm-6">
        <h4>{{ project.ship }}</h4>
      </div>
      <div class="col-xs-3 col-sm-2 col-sm-push-4 text-right">
        <h4>{{ project.year }}</h4>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-pull-2">
        <h5>{{ project.owner }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <p class="small">{{ project.place }}</p>
      </div>
      <div class="col-xs-6 text-right">
        <p class="small">{{ project.get_constructionType_display }}</p>
      </div>
    </div>
    <p>{{ project.description }}</p>
  </div>
  <div class="col-xs-12 col-sm-3 vertical-align">
      {% for Image in project.images.all %}
        {% thumbnail Image.image '720' as sm %}
          {% if forloop.first %}
            {% thumbnail Image.image '262x262' as xs %}
              <a href="{{ sm.url }}"
                 data-toggle="lightbox"
                 data-gallery="{{ project.ship|slugify }}-{{ project.year|slugify }}"
                 data-title="{{ Image.image.caption }}">
                  <img src="{{ xs.url }}"
                       class="img-responsive center-block img-thumbnail"
                       alt="{{ Image.image.caption }}" />
              </a>
            {% endthumbnail %}
          {% else %}
            <div data-remote="{{ sm.url }}"
                 data-toggle="lightbox"
                 data-gallery="{{ project.ship|slugify }}-{{ project.year|slugify }}"
                 data-title="{{ Image.caption }}"></div>
          {% endif %}
        {% endthumbnail %}
      {% empty %}
        <p class="hidden-xs text-center small">No images</p>
      {% endfor %}
  </div>
</div>
<hr />
{% endfor %}
{% endfor %}

<div class="page-header">
  <h2>Personal References</h2>
</div>
<p>Personal references from before the founding of Danish Decoration.</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ship</th>
      <th>Owner</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    {% for project in before %}
    <tr> <td>{{ project.ship }}</td><td>{{ project.owner }}</td><td>{{ project.year }}</td> </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock content%}
