body {
    background: #ffffff url('http://danishdecoration.dk/sites/all/themes/zen/zen/bg.gif') repeat-x fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

#page {
    margin: auto;
    max-width: 960px;
}

#header {
    margin: 19px 0 0;
}

#content {
    padding: 10px 10px;
    min-height: 450px;
    background: #ffffff;
}

#navbar {
    margin: 10px 0 0;
    padding: 0 10px;
    height: 24px;
    background: #96d99d;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar ul>li {
    padding: 2px 8px;
    float: left;
    list-style: none;
}

#navbar ul>li:hover {
    background: #669966;
}

#navbar ul>li>a {
    color: #000000;
    text-decoration: none;
}

.bigimg {
    max-width: 60%;
    margin: 10px 15px;
    float: right;
}

h1 {
    margin: 10px 0 18px;
    float: left;
}

#content p {
    clear: left;
}

#footer,
#footer a {
    color: #999999;
    text-align: center;
    font-size: 14px;
}

#footer img {
    height: 20px;
    vertical-align: middle;
}


h3 {
    margin: 0;
}

table {
    clear: both;
}

/* References */

.picture {
    width: 160px;
    color: #999999;
    text-align: center;
    vertical-align: top;
    font-size: 0.7em;
}

.shipname {
    width: 290px;
}

.owner {
    width: 385px;
}

.year {
    width: 65px;
    text-align: right;
}

.details {
    font-size: 0.7em;
    vertical-align: top;
}

.details h4,
.details p {
    margin: 8px 0 0;
}

/* News */

.headline {
    height: 23px;
    width: 100%;
}

.date {
    height: 13px;
    font-size: 0.7em;
    color: #999999;
}

.bodytext {
    font-size: 0.7em;
    vertical-align: top;
}

.bodytext p {
    margin: 4px 0 0;
}

/* Contact */

.left {
    float: left;
    width: 35%;
}

.vcard{
    width: 100%;
    min-width: 220px;
    padding: 5px;
    margin: 10px 0;
    background: #E5FFE5;
}

.label {
    width: 60px;
    font-size: 0.7em;
}

.entry {
    width: 140px;
    font-size: 0.7em;
}

.entry img {
    height: 13px;
}