<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock title%} | danishdecoration.dk</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}style.css" />
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a href="/" >
          <img src="{{ STATIC_URL }}logo.png" alt="Home" id="logo-image" /></a>
        <div id="navbar">
          <ul>
            <li><a href="/node/2" class="active">Company</a></li>
            <li><a href="{% url 'ddweb.apps.news.views.news' %}" >News</a></li>
            <li><a href="/node/5" >Contact</a></li>
            <li><a href="{% url 'ddweb.apps.references.views.ongoing' %}" >Ongoing Projects</a></li>
            <li><a href="{% url 'ddweb.apps.references.views.references' %}" >References</a></li>
          </ul>
        </div> <!-- navbar -->
      </div> <!-- header -->
      <div id="content">
        {% block content %}{% endblock content%}
      </div> <!-- content -->
      <p id="footer">
        <a  href="mailto:webmaster@danishdecoration.dk">Contact webmaster</a>
        <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">
          <img src="http://www.w3.org/Icons/valid-html401-blue" alt="Valid HTML 4.01 Strict" /></a>
        <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">
          <img src="http://www.w3.org/Icons/valid-css-blue" alt="Valid CSS!" /></a><br/>
        &copy;2008-2013 <a href="/">Danish Decoration Ship Interior Consulting ApS.</a> All rights reserved.
      </p>
    </div> <!-- page -->
    <script type="text/javascript" src="{{ STATIC_URL }}yoxview/yoxview-init.js"></script>
    {% block js %}{% endblock js%}
  </body>
</html>
