{% load bootstrap3 %}
<!DOCTYPE html>
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <link type="text/css" rel="stylesheet" href="{% bootstrap_css_url %}" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}ekko-lightbox/dist/ekko-lightbox.min.css" />
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="{{ STATIC_URL }}logo.svg" alt="Danish Decoration" id="logo-image" /> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'company' %}">Company</a></li>
            <li><a href="{% url 'news' %}">News</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'references' %}">References</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main">
      <div class="page-header">
        <h1>{% block title %}{% endblock %}</h1>
      </div>
      {% block content %}(no content){% endblock %}
    </div>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-text text-center">
          <p>
            &copy;2008-2023 <a href="/">Danish Decoration Ship Interior Consulting ApS.</a> All rights reserved. &middot; <a href="mailto:webmaster@danishdecoration.dk">Contact webmaster</a>
          </p>
        </div>
      </div>
    </nav>

    {% bootstrap_javascript jquery=1 %}
    <script type="text/javascript" src="{{ STATIC_URL }}ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
        });
      });
     $('.carousel').carousel();
    </script>
    {% block js %}{% endblock js%}
  </body>
</html>
