{% extends 'base.html' %}

{% block title %}Company{% endblock title %}

{% block content %}
<img class="bigimg" alt="Danish Decoration - Break the waves."  src="{{ STATIC_URL }}dd1s.jpg" />
<p>We started our own company when the management of Danish Interior A/S, decided to cease operations in Denmark.
Danish Decoration, Ship Interior Consulting ApS, referred to as “Danish Decoration” was established on July 4th, 2008.
All the principals have been working with various companies in the cruise business for twenty years or more.
We have all worked in various positions as Project Manager, On-Site Manager and Assistant Project Manager.
This is also the reason for the way we have built our Reference List.
As Danish Decoration is a young company it may look a little odd with this many references.
We have simply listed the major part of the various projects where we personally have held a position.
Danish Decoration has begun well by signing long term contracts with R&amp;M Ship Tec Group.
Our goal is to establish new partners while continuing the existing relations we have developed.
We offer Project Management services related to interior refurbishment in public areas on cruise ships and ferries.
We also specialize in consulting and procurement services.
We have great experience both on new buildings and on Refits, and we offer both.</p>
{% endblock content%}
