{% extends 'base.html' %}

{% block js%}{% endblock %}

{% block title %}Contact{% endblock title %}

{% block content %}
<div class="col-sm-4">
  <address>
    Danish Decoration<br />
    Garvergade 4<br />
    DK-9400 Nørresundby<br />
    Denmark<br />
    E-mail: <a href="mailto:info@danishdecoration.dk">info@danishdecoration.dk</a>
  </address>

  <address>
    <strong>Tina Kjeldgaard</strong><br />
    Project Manager<br />
    Mobile: +45 30 68 09 76<br />
    E-mail: <a href="mailto:tik@danishdecoration.dk">tik@danishdecoration.dk</a><br />
  </address>

  <address>
    <strong>Claus B. Hansen</strong><br />
    Project Manager<br />
    Mobile: +45 30 68 09 75<br />
    E-mail: <a href="mailto:cbh@danishdecoration.dk">cbh@danishdecoration.dk</a><br />
  </address>

  <address>
    <strong>Mathias Dannesbo</strong><br />
    Assistant & IT<br />
    E-mail: <a href="mailto:md@danishdecoration.dk">md@danishdecoration.dk</a><br />
  </address>
</div>
<div class="col-sm-8">
  <img class="img-responsive" alt="Danish Decoration - Connection to success."  src="{{ STATIC_URL }}dd2s.jpg" />
</div>
{% endblock content%}
